[submodule "protolab-docs"]
	path = protolab-docs
	url = https://github.com/garagelab-dus/protolab-robo-docs.git
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/garagelab-dus/lerobot-fork.git
[submodule "rerun-fork"]
	path = rerun-fork
	url = https://github.com/garagelab-dus/rerun-fork.git
